<%-include("partials/header")%>
<body>
    <div id="videoArea"></div>
    <script defer src="https://www.unpkg.com/peerjs@1.4.7/dist/peerjs.min.js" defer></script>
    <script src="//localhost:5000/socket.io/socket.io.js" defer></script>
    <script src="js/script.js" defer></script>
</body>
</html>