{#I am a comment#}
{% extends "base.njk" %}
{% block content %}
    <h1>Home</h1>
    <p>Welcome to the home page</p>
{% endblock %}
{% block footer %}
    <p>Footer content</p>
{% endblock %}
{% block list %}
    {% for name in names %}
        <li>{{ name}}</li>
    {% endfor %}
{% endblock %}
{% block list2 %}
    {% for recipe,ingredient in ingredients %}
        <li>{{ recipe }}-{{ ingredient }}</li>
    {% endfor %}
{% endblock %}