doctype html
html
    head
        title= PugExpress
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1= PugExpress
        p Welcome to #{title} Website
        p.
            Pug is a simple templating language
        ul
            li Jade has been renamed to Pug
            li Pug is available via npm: npm install pug